@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --colorPrincipal: #D6530A;
    --colorSegundario: rgb(92, 92, 92);
}

hr{
    width: 60%;
}


body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}


header{
    background: #076585;
    background: -webkit-linear-gradient(to right, #fff, #acaaa9);  
    background: linear-gradient(to right, rgba(255, 247, 247, 0.767), #b8b8b8c7), url(imagenes/fondoluz.png);
    background-position-y: 10%;
    background-attachment: fixed;
    position: relative;
    min-height: 110vh;
}

.onda{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Menu de navegacion */
.burger{
    display: none;
}

.boxMenu{
    display: flex;
    position: relative;
}

.listaMenu{
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: row;
    text-align: right;
    padding: 20px;
}

.listaMenu > a {
    text-decoration: none;
}

.lista{
    margin-right: 20px;
    color: var(--colorSegundario);
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

.lista:hover{
    background-color: #acaaa973;
    border-radius: 5px;
    transform: scale(1.1);
}

/* Textos del header */
.infoMenu{
    margin-top: 50px;
    position: absolute;
    right: 0;
}

.title{
    font-size: 5rem;
    margin: 0;
    color: var(--colorPrincipal);
}

#apellido{
    color: black;
}

.subtitle{
    color: var(--colorSegundario);
    font-size: 1.5rem;
    margin: 0;
}

#estudiante{
    padding: 5px px;
    color: white;
    background-color: #acaaa9;
    font-size: 1.5rem;
    margin: 0;
}

.parrafo{
    color: var(--colorSegundario);
    font-size: 18px;
    margin-right: 10px;
    line-height: 20px;
}

.boxDescarga{
    margin-top: 50px;
}

.botonDescarga{
    background-color: #b9b6b4;
    color: white;
    padding: 13px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);
}

.botonDescarga:hover{
    background-color: var(--colorPrincipal);
}

/* Noticias de programacion */
.titleNoticia{
    font-size: 1.8rem;
    color: var(--colorSegundario);
    text-align: center;
    margin: 30px 0;
    text-decoration: underline;
}
.boxNoticia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cardNoticia{
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    max-width: 25%;
    background-color: #cac9c95b;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);

}

.cardNoticia > a {
    text-decoration: none;
    color: #D6530A;
    font-size: 18px;
}

.imgNoticia{
    width: 250px;
}

.subtitleNoticia{
    font-size: 18px;
    color: var(--colorPrincipal);
}

.parrafoNoticia{
    align-self: flex-start;
    font-size: 15px;
    color: var(--colorSegundario);

}

/* Reloj */
.boxReloj{
    margin: auto;
    max-width: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.imgReloj{
    width: 200px;
}

.funcionReloj{
    font-size: 3rem;
    color: var(--colorPrincipal);
    padding: 20px 30px;
    background-color: #cac9c95b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);    
}


/* Footer */
.footer{
    margin-top: 50px;
    background-color: #acaaa996;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.boxIconFooter{
    display: flex;
    flex-direction: row;
}

.iconFooter{
    width: 40px;
    margin: 0px 20px;
}

.menuFooter > ul{
    text-align: start;
    display: flex;
    flex-direction: row;
}

.menuFooter > ul > a{
    text-decoration: none;
}

.menuFooter > ul > a > li{
    list-style: none;
    font-size: 18px;
    color:var(--colorSegundario);
    padding: 10px;
}


/* Responsive */
@media (max-width: 768px){

    header{
        background-position-y: 10%;
        width: 100%;
    }

    .logo > img{
        width: 80px;
    }
    
    .onda{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    /* Menu de navegacion */
    .boxMenu{
        display: flex;
        position: relative;
    }
    
    .burger{
        position: absolute;
        top: 30px;
        right: 10%;
        width: 30px;
        display: block;
        z-index: 4;
    }

    .cajaMenu.active{
        background-color: #fff9f9ee;
        border-bottom-left-radius: 5px;
        z-index: 2;
        width: 100%;
        min-height: 80vh;
    }

    .listaMenu{
        display: none;
    }

    .listaMenu.active{
        display: block;
        position: initial;
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .listaMenu > a {
        text-decoration: none;
        margin-top: 45px;
    } 

    .lista{
        margin: 15px 0px;
        color: var(--colorSegundario);
        list-style: none;
        padding: 0px;
        font-size: 1.5rem;
    }

    .lista:hover{
        background-color: #acaaa93f;
        padding: 10px;
        border-radius: 5px;
        transform: scale(1.1);
    }

    
    /* Textos del header */
    .infoMenu{
        padding: 20px;
        position: absolute;
        top: 30%;
    }
    
    .title{
        font-size: 4rem;
    }
    
    .subtitle{
        font-size: 20px;
    }
    
    #estudiante{
        padding: 5px px;
        font-size: 24px;

    }
    
    .parrafo{
        font-size: 16px;
    }
    
    .boxDescarga{
        margin-top: 30px;
    }
    
    .botonDescarga{
        padding: 10px 15px;
        font-size: 20px;
    }
    

    /* Noticias de programacion */
    .titleNoticia{
        margin: auto;
        width: 60%;
        font-size: 1.2rem;
    }

    .boxNoticia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .cardNoticia{
        display: flex;
        align-items: center;
        text-align: start;
        flex-direction: column;
        margin: 30px;
        padding: 20px;
        max-width: 50%;
    
    }
    
    .cardNoticia > a {
        font-size: 15px;
    }
    
    .imgNoticia{
        width: 300px;
    }
    
    .subtitleNoticia{
        font-size: 17px;
    }
    
    .parrafoNoticia{
        align-self: flex-start;
        font-size: 13px;
    }
    
    /* Reloj */
    .boxReloj{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .imgReloj{
        width: 150px;
    }
    
    .funcionReloj{
        font-size: 2.5rem;
        min-width: 50%;
        padding: 20px 30px;
        margin-bottom: 20px;   
    }
    
    
    /* Footer */
    .footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 0px;
    }
    
    .iconFooter{
        display: flex;
        justify-content: center;
        padding-right: 35px;
        padding-left: 0px;
    }
    
    .menuFooter > ul{
        text-align: start;
        display: flex;
        flex-direction: row;
        padding-right: 10px;
        padding-left: 0px;
    }
    
    .menuFooter > ul > a > li{
        font-size: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 320px){

    header{
        background-position-y: 10%;
        width: 100%;
    }

    .logo > img{
        width: 80px;
    }
    
    .onda{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    /* Menu de navegacion */
    .boxMenu{
        display: flex;
        position: relative;
    }
    
    .burger{
        position: absolute;
        top: 30px;
        right: 15px;
        width: 30px;
        display: block;
        z-index: 4;
    }

    .cajaMenu.active{
        background-color: #fff9f9ee;
        border-bottom-left-radius: 5px;
        z-index: 2;
        width: 100%;
        min-height: 80vh;
    }

    .listaMenu{
        display: none;
    }

    .listaMenu.active{
        display: block;
        position: initial;
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .listaMenu > a {
        text-decoration: none;
        margin-top: 45px;
    } 

    .lista{
        margin: 15px 0px;
        color: var(--colorSegundario);
        list-style: none;
        padding: 0px;
        font-size: 20px;
    }

    .lista:hover{
        background-color: #acaaa93f;
        padding: 10px;
        border-radius: 5px;
        transform: scale(1.1);
    }

    
    /* Textos del header */
    .infoMenu{
        padding: 20px;
        position: absolute;
        top: 35%;
    }
    
    .title{
        font-size: 2.3rem;
    }
    
    .subtitle{
        font-size: 20px;
    }
    
    #estudiante{
        padding: 5px px;
        font-size: 18px;

    }
    
    .parrafo{
        font-size: 15px;
    }
    
    .boxDescarga{
        margin-top: 30px;
    }
    
    .botonDescarga{
        padding: 8px 10px;
        font-size: 15px;
    }
    

    /* Noticias de programacion */
    .titleNoticia{
        margin: auto;
        width: 80%;
        font-size: 1.2rem;
    }

    .boxNoticia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .cardNoticia{
        display: flex;
        align-items: center;
        text-align: start;
        flex-direction: column;
        margin: 30px;
        padding: 20px;
        max-width: 100%;
    
    }
    
    .cardNoticia > a {
        font-size: 15px;
    }
    
    .imgNoticia{
        width: 200px;
    }
    
    .subtitleNoticia{
        font-size: 17px;
    }
    
    .parrafoNoticia{
        align-self: flex-start;
        font-size: 13px;
    }
    
    /* Reloj */
    .boxReloj{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .imgReloj{
        width: 150px;
    }
    
    .funcionReloj{
        font-size: 1.8rem;
        width: 100%;
        padding: 20px 30px;
        margin-bottom: 20px;   
    }
    
    
    /* Footer */
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    
    .iconFooter{
        padding: 20px;
        margin: 0px;
    }

    .menuFooter > ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    
    .menuFooter > ul > a > li{
        font-size: 12px;
        padding: 10px;
        margin: 0px;
    }   
}




